body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./imges/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  overflow: hidden;
}


@media all and (max-width: 750px) {
  .photo img{
    display: none;
  }
}


.card {
  background-color: #0E46A3;
  display: inline-flex;
  border-radius: 15px;
  font-family: Roboto, sans-serif;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo img {

  width: 400px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

label{
  font-size: 25px;
  padding-right: 10px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
}


.height{

  display: flex;
  flex-direction: column;
}

.weight{

  display: flex;
  flex-direction: column;
}

h1, label{
  color: white;
}

.error{
  display: none;
  margin-top: 5px;
  margin-left: 10px;
  color: rgba(255, 0, 0, 0.591); 
}

.input{
  position: relative;
}

input{
  padding: 10px 40px 10px 10px;
  width: 200px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.46);
}


.prefix{
  font-size: 20px;
  position: absolute;
  right: 10px; 
  top: 20%; 
  opacity: .7;
}

.button{
  width: 200px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  background-color: white;
  text-align: center;
  outline: none;
  box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.445);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
 
}

.result-container h2{
  margin: 5px;
  font-size: 20px;
}

.result-container .num{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}


.result-container{
  width: 300px;
  height: 100px;
  background-color: white;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}

